body{
    background-color: black;
    color: wheat;
}
 /* Style top block header*/
header {
    background-color: #283B47;
    text-align: left;
    padding: 150px;
    padding-left: 250px;
    display: block;
}

/*Style "Ingeborg" and below */
h2{
    text-align: left;
    padding-left: 250px;
}

.mainContent{
    padding: 50px;
    padding-left: 200px;
}
/* Style the side navigation */
.sideNav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
  }
  
  
  /* Side navigation text, remove once all linnks are in, no place holders */
  .sideNav p {
    color: wheat;
    background-color: #243540;
    text-decoration: none;
    display: block;
    font-size: medium;
    padding-block: 4px;
  }
.sideNav a {
    color: wheat;
    background-color: #243540;
    text-decoration: none;
    display: block;
    font-size: medium;
    padding-block: 40px;
}
/*link state styling */
/* unvisited link */
 /* a:link {
    background-color: #243540;
    padding: 4px, 4px;
    display: inline-block;

  }
*/
  
 /* a:visited {
    color: #0077b3;
  }
  
  a:hover {
    color: ;
  }
  
  a:active {
    color: blue;
  } */